/* Body Section */
body {
  margin: 0 auto;
  font-family: "Tilt Warp", cursive;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* Header Section */
header {
  background-color: #ff900e1a;
  margin-bottom: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  list-style: none;
}
nav li {
  font-size: 18px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: black;
}
nav h1 {
  font-size: 45px;
  font-weight: 700;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.txt h1 {
  font-size: 64px;
  font-weight: 700;
  width: 800px;
  text-align: center;
  line-height: 75px;
  margin-bottom: 0;
}
.txt p {
  width: 1000px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.hero button {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  width: 180px;
  height: 64px;
  margin: 30px 0;
}
.hero button a {
  color: #ffffff;
}
.img {
  display: flex;
  justify-content: center;
}
.img img {
  width: 80%;
}
/* Section Two */
.section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  justify-content: center;
}
.image-grid img {
  width: 300px;
}
.shahada img {
  width: 300px;
  height: 300px;
}
.image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.shahada {
  position: absolute;
}
.right-side-txt {
  padding: 0 50px 0 50px;
}
.right-side-txt h1 {
  font-weight: 700;
  font-size: 45px;
}
.sec-two-gray-text {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}
.sec-two-orange-text {
  color: #ff900e;
}
.right-side-p {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.sec-two-btn {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  width: 180px;
  height: 64px;
  margin: 30px 0;
}
.sec-two-btn a {
  color: #ffffff;
}

/* Media Query For iPhone SE and Max Width of 375 */

@media only screen and (max-width: 375px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    width: 375px;
  }

  /* Section One (Header) */
  header {
    padding: 0 15px;
    margin: 0 auto;
    width: 375px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
  }
  nav h1 {
    text-align: center;
    margin: 5px 0;
  }
  .nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    align-items: center;
    padding: 0 50px;
  }
  .txt h1 {
    font-size: 30px;
    width: 375px;
    line-height: 40px;
  }
  .txt p {
    width: 375px;
  }
  .txt button {
    margin: 5px;
    width: 110px;
    height: 40px;
    padding: 0 5px;
  }
  .txt button a {
    font-size: 15px;
  }

  /* Section Two */
  .section-two {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
  }
  .right-side-txt {
    margin: 0;
    padding: 0 15px;
  }
  .right-side-txt h1,
  .sec-two-gray-text {
    text-align: center;
    font-size: 30px;
  }
  .sec-two-btn {
    margin-top: 5px;
    width: 100px;
    height: 40px;
  }
  .sec-two-btn a {
    font-size: 15px;
  }
  .image img {
    width: 100px;
    height: 100px;
  }
}
